/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@import url("https://use.typekit.net/nay2ptl.css");

/*-- scss:defaults --*/
/*$font-family-sans-serif: 'garamond-premier-pro-display','Cormorant Garamond', serif;*/
/*$font-family-sans-serif: 'Crimson Text','Crimson Temp:Georgia';*/
$font-family-sans-serif: "adobe-garamond-pro", "Adobe Garamond Pro", garamond, Times, serif;
$font-family-monospace: 'Roboto Mono', monospace;
$font-size-root:         20px;
$headings-font-weight:  400 !default;